# Dependencies
node_modules/
*/node_modules/

# Production
dist/
*/dist/
build/
*/build/

# Environment variables
.env
.env.local
.env.production
*/.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Testing
coverage/
.nyc_output/

# Cypress
cypress/videos/
cypress/screenshots/
